body{
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
}
#div1, #div2, #div3{
    display: inline-block;
    margin: auto;
    width: 80%;
    color: aliceblue;
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    background: greenyellow;
    height: 400px;
    cursor: pointer;
}